.menu-cate .MuiMenu-paper{
    background-color:teal !important;
    color: white;
    width: 300px;
    min-height: 90vh;
    border-radius: 0px;
}
.menu-cate .MuiList-padding{
    padding-top: 0px;
    padding-bottom: 0px;
}
.menu-cate .MuiAccordion-rounded{
    border-radius: 0px; 
}
.menu-cate .MuiAccordion-rounded:last-child{
    border-radius: 0px;
}
.menu-cate .MuiAccordion-rounded:first-child{
    border-radius: 0px;
}

.search_icon :hover{
    transform: scale(1.1);
    color: rgb(12, 6, 6);
}